<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <style>
        body, .navbar-nav, .navbar-brand, .dropdown-menu, .btn-group .btn {
            font-family: 'Raleway', sans-serif;
            font-size: 16px; /* Adjust the font size as needed */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home Page</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
                    aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <form class="navbar-form">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Calculators <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/third">BMI Calculator</a></li>
                                <li><a href="/second">BMR Calculator</a></li>
                            </ul>
                        </div>
                    </form> 
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarID">
                <a class="navbar-brand" href="/fourth">Food Diary</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>BMI Calculator</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <form method="POST" action="/third">
            <div class="form-group">
                <label for="heightFeet">Height (feet and inches)</label>
                <input type="number" id="heightFeet" name="heightFeet" placeholder="Feet" style="width: 48%; display: inline-block;">
                <input type="number" id="heightInches" name="heightInches" placeholder="Inches" style="width: 48%; display: inline-block;">
            </div>
            <div class="form-group">
                <label for="weight">Weight (lbs)</label>
                <input type="number" id="weight" name="weight" placeholder="Enter your weight in pounds">
            </div>
            <button type="submit">Calculate BMI</button>
        </form>
        {% if bmi %}
            <div class="result" id="result">Your BMI is: {{ bmi }}</div>
        {% endif %}
    </div>    
</body>
</html>
